.auth-container {
  max-width: 400px;
  margin: 80px auto;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 3px 12px #0002;
}

.w-100 {
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}
